node_modules/
dist/
build/
.gradle/
*.apk
*.log
android/app/src/main/assets/bundle.js
android/app/src/main/assets/bundle.js.LICENSE.txt
android/app/src/main/assets/index.html
my-release-key.keystore
*.idsig
